.main-container {
    width: 100%;
}

.background {
    width: 100%;
}

.main-sub-container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.top-border {
    background-color: #262626;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-border-image {
    height: 18px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-border-button {
    background-color: #82b440;
    color: #ffffff;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tickmark {
    display: flex;
    flex-direction: row;
}

.sub-container {
    width: 100%;
}

.nav-bar-logo {
    margin-right: auto;
    width: 70%;
}

.checkout-heading {
    padding-top: 15px;
    font-size: 30px;
    font-family: "Roboto";
    padding-left: 10px;
}

.checkout-para {
    font-size: 15px;
    font-family: "Roboto";
    padding-left: 13px;
}

.checkout-para-span {
    text-decoration: underline;
}

.icon {
    width: auto;
    display: flex;
    flex-direction: row;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    font-family: "Roboto";
    align-items: center;
    margin-top: 30PX;
    margin-bottom: 20px;
}

.profile {
    padding: 10px;
    padding-right: 20px;
}

.contact-heading {
    font-size: 15px;
    margin-bottom: 5px;
}

.contact-para {
    font-size: 13px;
    font-weight: bold;
}

.change-btn {
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 13px;
}

.address-container {
    border: 1px solid gray;
    border-radius: 10px;
    width: auto;
}

.contact-container1 {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    font-family: "Roboto";
    align-items: center;
    width: 100%;
}

.first-lable {
    font-family: "Roboto";
    font-size: 15px;
}

.first-input {
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 5px;
    width: 100%;
}

.data-container {
    width: 100%;
}

.save-btn {
    padding: 10px;
    background-color: black;
    color: #ffffff;
    border-radius: 15px;

}

.cancel-btn {
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

.right-container {
    width: auto;
    background-color: transparent;
    border-left: 1px solid gray;
    padding-left: 30px;
}

.shirt-img {
    width: 100px;
}

.shirt-col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.price-cost {
    border: 1px solid green;
    padding: 5px 20px;
    border-radius: 15px;
    color: green;
}

.quntity-btn {
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid gray;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: blue;
    margin-left: 30px;
}

.cart-item-remove-button2 {
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #98c8ee;
    margin-left: 130px;
}

.quntity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-container {
    display: flex;
    justify-content: space-between;

}

.subtotal-para1 {
    color: gray;
    font-weight: bold;
}

.subtotal-para2 {
    font-weight: bold;
    margin-right: 13px;
}

.conform-order-btn {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 302px;
    width: 100%;
}

.learn-more-para {
    color: gray;
    font-size: 15px;
    text-align: center;
}

.learn-more-span {
    color: black;
    text-decoration: underline;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;

}

.catgeory {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    padding-top: 5px;
}

.navbar-heading {
    font-size: 25px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bottom-container-headings {
    font-size: 20px;
}

.website {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-background {
    background-color: #cdeef7;
    border-radius: 7px;
    padding: 15px;
}
